/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08 24, 16, 10:38:26 PM
    Author     : user
*/
body{
    background-color: #ffffff;
    background-image: url("server.png");
}

.header-card{
    opacity: 0.9;
    padding: 20px;
    width: 720px;
    background-color: #dbe9d8;
    margin: 0 auto 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.temp-card{
    opacity: 0.9;
    padding: 40px;
    height: 200px;
    width: 300px;
    background-color: #c2d4d8;
    margin: 0 auto 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.hum-card{
    opacity: 0.9;
    padding: 40px;
    height: 200px;
    width: 300px;
    background-color: #c2d4d8;
    margin: 0 auto 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.notif-card{
    opacity: 0.9;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    height: 325px;
    width: 300px;
    background-color: #c2d4d8;
    margin: 0 auto 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.remote-card{
    opacity: 0.9;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    height: 325px;
    width: 300px;
    background-color: #c2d4d8;
    margin: 0 auto 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}